html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--dark-color) 100%);
    text-align: center;
    padding: 2rem;
}

.home-container h1 {
    font-size: 3.5rem;
    font-weight: 700;
    background: var(--light-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
}

.highlight {
    color: #ff4d6d;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-weight: 800;
}

.home-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 700px;
    line-height: 1.6;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
}

.feature {
    background: rgba(255, 255, 255, 0.9);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    max-width: 260px;
    text-align: center;
    transition: transform 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.feature h3 {
    color: var(--dark-primary-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.feature p {
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background: linear-gradient(to right, var(--accent-color), var(--dark-primary-color));
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: linear-gradient(to right, var(--dark-primary-color), var(--primary-color));
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

.home-footer {
    position: fixed; 
    bottom: -15vh; 
    left: 0;
    width: 100%;
    height: 10vh; 
    background: var(--light-color);
    text-align: center;
    padding: 1rem 0;
    box-shadow: var(--box-shadow);
    transition: bottom 0.4s ease-in-out;
}

.home-footer.show {
    bottom: 0; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-content p {
    color : var(--accent-color)
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: var(--dark-hover-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--primary-color);
}
